.size-728x90, .size-728x90 .banner-bg-image {
  height: 90px;
  width: 728px;
}
.size-728x90.campaign-golf .banner-image-volatility {
  left: 402.85px;
  top: 70.76px;
}
.size-728x90.campaign-golf .banner-image-uncertainty {
  left: 423.68px;
  top: 5.78px;
}
.size-728x90.campaign-golf .banner-image-strategy {
  left: 234.58px;
  top: 73.1px;
}
.size-728x90.campaign-golf .banner-image-position {
  left: 342.64px;
  top: 53.92px;
}
.size-728x90.campaign-golf .banner-content {
  padding-left: 14.84px;
  padding-top: 14px;
  padding-right: 27px;
  padding-bottom: 0px;
}
.size-728x90.campaign-golf .banner-image-text1 {
  top: 1px;
  position: relative;
}
.size-728x90.campaign-golf .banner-image-text2 {
  top: 15px;
  position: relative;
}
.size-728x90.campaign-golf .grid-container {
  top: -254.336px;
}
.size-728x90.campaign-golf .banner-image-grid {
  width: 551.4489px;
}
.size-728x90.campaign-golf .banner-image-logo {
  bottom: 31.2px;
  right: 0px;
  left: auto;
}
.size-728x90.campaign-surf .banner-image-volatility {
  left: 393.61px;
  top: 38.47px;
}
.size-728x90.campaign-surf .banner-image-uncertainty {
  left: 331px;
  top: 63px;
}
.size-728x90.campaign-surf .banner-image-strategy {
  left: 417.97px;
  top: 62.509px;
}
.size-728x90.campaign-surf .banner-image-position {
  left: 468.03px;
  top: 52.86px;
}
.size-728x90.campaign-surf .banner-content {
  padding-left: 14.84px;
  padding-top: 13px;
  padding-right: 18px;
  padding-bottom: 0px;
}
.size-728x90.campaign-surf .banner-image-text2 {
  margin-top: 13px;
}
.size-728x90.campaign-surf .grid-container {
  top: -272.9px;
}
.size-728x90.campaign-surf .banner-image-grid {
  width: 573.0045px;
}
.size-728x90.campaign-surf .banner-image-logo {
  bottom: 33.73px;
  right: 0px;
  left: auto;
}
.size-728x90.campaign-lightning .banner-content {
  padding-left: 27px;
  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 32px;
}
.size-728x90.campaign-lightning .banner-image-text2 {
  top: -29px;
  position: relative;
}
.size-728x90.campaign-lightning .banner-image-button {
  display: none;
}
.size-728x90.campaign-lightning .banner-image-logo {
  bottom: 0px;
  top: auto;
  right: 0px;
  left: auto;
}
